.registerForm h1 {
  text-align: center;
  margin-bottom: 20px;
}

.registerForm {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 90%;
  padding: 5px 7px;
  border-radius: 5px;
  border: 2px solid #ddd;
  background-color: #fff;

}

button {
  width: 90%;
  display: block;
  margin-top: 10px;
  padding: 7px 0;
  background-color: #555;
  border: 0;
  border-radius: 5px;
  color: #fff;

}