img {
  max-width: 100%;
  margin-bottom: 50px;
}

h2 {
  margin: 0px;
  font-size: 1.8rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  /* margin-bottom: 100px; */
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .post{
      grid-template-columns: .9fr 1.1fr;
  }
}

.post a{
  text-decoration: none;  
  color: inherit;
}

.image {
  width: 100%;
}

.info {
  display: flex;
  gap: 10px;
  color: #888;
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.author {
  color: #333;
  text-decoration: none;
}

.summary {
  margin: 10px 0;
  line-height: 1.4rem;
}